
body {
	line-height: 1;
	margin: 1cm;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center the container */
#container {
    margin: 1cm;
  width:480px;
}

/* Give canvas a background */
canvas {
  background-color:black;
}
